head
    script(src='javascripts/require.js', data-main='javascripts/requireSample/addressbook.js', async)
body
    div#app
        h1 Address Book
        input(id='new-address', type='text') 
        div#addressbook
            ul#list
        button#delete-all
        h2 table for haskell test
        table 
            tr 
                th AAA 
                td aaa
            tr 
                th BBB 
                td bbb
            tr 
                th CCC 
                td ccc
            tr 
                th DDD 
                td ddd
            tr 
                th EEE 
                td eee
            tr 
                th FFF 
                td fff
            tr 
                th ggg 
                td GGG
        a(href="www.me") test link
