h1 webdb sample1
h2 jade template demo 
div 
    p
        span The variables are "
            strong=var1
        span " and "
            strong=var2
        span ".
        span Input variable is "
            strong=var3
        span ".
