head
    script(src='javascripts/jquery-1.9.1.min.js')
    script(src='javascripts/icecream.js')
body
    h1 Client MVC 
    h2 select Icecreams from this list
    form()
        ul#icecreams
    h2 you have selected:
    #selectedList
