### https://raw.github.com/github/gitignore/7e854d39915457f55afe9886daeef4b2a35dc772/scala.gitignore

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


